/* Variabes */
$orange: #ffa600;
$grey:#f3f3f3;
$white: #fff;
$base-color:$orange ;


/* Mixin's */
@mixin transition {
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
@mixin corners ($radius) {
-moz-border-radius: $radius;
-webkit-border-radius: $radius;
border-radius: $radius;
-khtml-border-radius: $radius;
}


body {
  margin: 0;
	border: 0;
	padding: 0;
  color: white;
  font-family: 'Permanent Marker', cursive;
	background: black;
	height:100%
}

#defaultCanvas0 {
  display: inline-block;
	top: 0px;
	width: 100%;
	margin:40px 15%;
  z-index: 1;
}

.overlay {
	background:black;
	opacity:.98;
	background-size:100%;
	position:absolute;
	top:40px;
	margin:0%;
	padding-left: 25%;
	width: 1920px;
	height:100%;
	z-index:5
}

.titleImg {
  background: url(../img/title.jpg);
  display:inline-table;
  font-size: 76px;
  line-height: 76px;
  text-align: center;
  word-wrap: break-word;
  padding-top: 70px;
  width: 600px;
  height: 40%;
  background-size: contain;
  background-repeat: no-repeat;
}

.controlsText {
  position: relative;
  display: inline-table;
  float: left;
  font-size: 20px;
  color: #fff;
  margin: 0 25px;
  z-index: 1;
}

.controlsText h2 {
  margin: 0px;

}

.controlsText div {
  opacity: 0.1;
  background: black;
  &:hover {
    opacity: 1;
  }
}

.charSelect {
	font-size:30px;
	line-height:100px;
	height:100px;
	width:50%;
	padding-bottom:30px;
	margin-left:275px
}
//I know this is a hack
#select {
	margin-left: -260px;
	margin-top: -40px;
	position:absolute;

}
#charID1,#charID2,#charID3 {
	display:inline-table;
	height:120px;
	width:90px;
	margin:0 40px;
	padding:10px;
	opacity:0.4;
    &:hover{
      opacity: 1;
  }
}

#charID1 {
  background: url(../img/hero/heroguy9.png);
  background-repeat: no-repeat;
}

#charID2 {
  background: url(../img/hero/rex1.png);
  background-repeat: no-repeat;
}

#charID3 {
  background: url(../img/hero/shade1.png);
  background-repeat: no-repeat;
}

.buttonSpacer {
  display: inline-block;
  float: left;
  width: 18%;
  height: 180px;
}

button{
@include corners (5px);
background:$base-color;
color:$white;
border: solid 1px $white;
cursor:pointer;
font-family: 'Permanent Marker', cursive;
font-size:3em;
position: relative;
float: left;
padding:18px 10px;
width:380px;
// margin-left: 288px;
 outline: none;
  &:hover{
	@include transition;
	background:$white;
	border: solid 1px $white;
	color:$base-color;
	}
}

.playAgain {
	display:none;
	position: absolute;
	margin: 10% 0 0 5%;
	height: 470px;
}

.healthOverlay {
	margin:42px 15% 0 15%;
	opacity:0.01;
	display:inline-table;
	position:absolute;
	height:80px;
	width:1300px;
}
.healthOverlay div {
  background: pink;
  height:50px;
  width:230px;
  margin-right: 25px;
  display: inline-block;
}

#p1 {
  margin: 0 30px 0 0;
  background-repeat: no-repeat;
  // background-position: center center;
	background: url(../img/hero/h-health1.png)
}

#p1Score {
background: green;
opacity: 0.5;
}

#gameTimer {
background: red;
opacity: 0.5;
}

#p2Score {
background: purple;
opacity: 0.5;
}

#p2 {
  margin: 0 0 0 20px;
  background-repeat: no-repeat;
  // background-position: center center;
	background: url(../img/hero/p2-health.png)
}
